<div class="container">
  <div class="titulo">
    <h2>Detalhe PapoCast</h2>
  </div>
  <div class="link"  *ngIf="retornaLancamentos ==false">
    <a routerLink="" (click)="voltarLancamentos">
      <mat-icon id="arrow">arrow_left</mat-icon>
      <p>voltar ultimos lançamentos</p>
    </a>
    <div *ngIf="!retornaLancamentos">
      <app-lancamentos></app-lancamentos>
    </div>
  </div>
  <div class="dataCenter">
    <mat-card>
      <div class="imgCard">
        <img matCardImage src="/assets/img/restCard.png">
      </div>

      <h2>Um bate papo sobre REST e RESTful</h2>

      <div class="conteudo">
        <mat-card-content>
          <h3>Descrição:</h3>
          <p>Você sabe o que é REST e RESTful? Sabe aonde precisamos ultilizar ele e como?
             Tudo isso será explicado de
            forma clara e simples para que todos possam entender..</p>
        </mat-card-content>
      </div>

      <div class="rodape">
        <mat-card-footer>
          <p id="nome">Papocast</p>
          <p>6 Abr 21 º 1:20:18</p>
        </mat-card-footer>
      </div>
    </mat-card>
  </div>
</div>
