<div class="container">
  <div class="titulo">
    <h2>Ultimos lançamentos</h2>
  </div>
  <div class="card_lancamento">
    <div class="imagem">
      <img src="/assets/img/lancamentoTelecomunicacao.png">
    </div>
    <div class="titulo_card">
      <h3>Ramo de Telecomunicação no Brasil</h3>
    </div>
    <div class="conteudo">
      <ul>
        <li>Papocast</li>
        <li>26 Set 21 º 1:45:18</li>
      </ul>
    </div>
    <div class="player">
      <a href="">
        <button class="play"><img src="assets/img/Vector.png"></button>
      </a>
    </div>
  </div>
  <div class="card_lancamento">
    <div class="imagem">
      <img src="/assets/img/lancamentoDesafios.png">
    </div>

    <div class="titulo_card">
      <h3>Desafios no ramo da Programação</h3>
    </div>
    <div class="conteudo">
      <ul>
        <li>Papocast</li>
        <li>8 Ago 21 º 35:40</li>
      </ul>
    </div>
    <div class="player">
      <a href="">
        <button class="play"><img src="/assets/img/Vector.png"></button>
      </a>
    </div>
  </div>
</div>
