<div class="container">
  <div class="termo">
    <div class="titulo">
      <h2>Termo de Aceite</h2>
    </div>
    <div class="contrato">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur diam dui, dictum a ultricies at, mollis nec
        justo. Suspendisse at interdum ligula. Phasellus vestibulum interdum augue nec maximus. Pellentesque habitant
        morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur in lorem nisi. Ut eleifend,
        lectus a ultrices imperdiet, tellus enim semper leo, non fringilla est orci blandit purus. Phasellus ut lorem
        tempus, congue augue ac, malesuada turpis. Aenean accumsan sapien quis arcu laoreet, vitae feugiat mauris euismod.
        Quisque ac aliquam mauris. Proin semper quam at ex laoreet mattis. Proin et enim molestie, bibendum est nec,
        gravida ante.

        Vivamus at neque sollicitudin, accumsan augue ac, sollicitudin purus. Etiam posuere convallis efficitur. In
        sollicitudin tellus eros, non iaculis odio pretium in. Ut ac est volutpat, laoreet ipsum eu, maximus nisi.
        Curabitur condimentum enim at neque porta, eu ultrices ligula commodo. Praesent quis ante neque. In nec accumsan
        nibh, vel blandit massa. Nam vel augue turpis.</p>
    </div>

    <div class="voltar">
      <a routerLink="/registration" class="linkVoltar">
        <p>Voltar</p>
      </a>
  </div>
</div>
